:root {
    --green: rgb(218, 234, 188);
    --black: #252a34;
    --brown: rgb(221, 179, 155);
    --white: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

/*Skew*/
.skew-abajo {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/*Formulario*/
.container2 {
    position: relative;
    width: 100%;
    height: 150vh;
    background: url(../img/image2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container2 .deg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

}

.container2 .deg-container .ejeZcontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.deg-container .ejeZcontainer .container-content {
    width: 50%;
    margin: auto;
    padding-top: 80px;
}

.container-content .container-tittle {
    width: 100%;
    margin: auto;
    border: 2px solid #fff;
    padding: 15px;
}

.container-content .container-tittle h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 10px;
}


.container-content .formulario-content {
    width: 100%;
    background: #fff;
    border-radius: 20px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}

.container-content .formulario-content #formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-content .formulario-content #formulario label {
    text-align: center;
    color: var(--black);
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}

.container-content .formulario-content #formulario input {
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: var(--black);
}

.container-content .formulario-content #formulario select {
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: var(--black);
}

.container-content .formulario-content #formulario textarea {
    width: 90%;
    height: 200px;
    margin: auto;
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    color: var(--black);
    padding: 20px;
}

.container-content .formulario-content #formulario .send {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-content .formulario-content #formulario .send input {
    width: 150px;
    height: 40px;
    margin-bottom: 30px;
    background: var(--green);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.container-content .formulario-content #formulario .send input:hover {
    background: var(--brown);
}

.container-content .formulario-content a {
    text-decoration: none;
    text-align: center;
    color: var(--black);
    font-size: 18px;
    margin: 40px 15px;
}

.container-content .formulario-content a:hover {
    color: var(--brown);
}

/*Footer*/
footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 37%, #b7d67a98 100%);
    padding: 30px 0px;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.social-media i {
    font-size: 25px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid#adb6c7;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 42px;
    cursor: pointer;
    margin-top: 2px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 15px;
}

.social-media i:hover {
    color: #fff;
    background-color: rgb(222, 236, 195);
    border-color: rgb(222, 236, 1958);
}

.social-media h5 {
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

/*Media Query*/
@media only screen and (max-width: 900px) {
    .btn-menu>.fa-bars {
        display: block;
        position: absolute;
        top: 40px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }

    .btn-menu>.fa-bars:hover {
        color: var(--green);
    }

    .btn-menu>.fa-times {
        color: var(--green);
    }

    .menu .list-container {
        position: absolute;
        top: 90px;
        left: 0;
        left: -100%;
        width: 100%;
        height: calc(100vh - 40px);
        background: #fff;
    }

    .menu .list-container .lists {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .menu .list-container .lists li {
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--green);
        text-align: center;
    }

    .menu .list-container .lists li a {
        font-size: 20px;
    }

    .menu .list-container .lists li a.activo {
        background: none;
        color: var(--green);
    }

    .menu .list-container .lists li a:hover {
        background: none;
        color: var(--green);
    }

    .container2 .formulario-content {
        width: 100%;
        padding: 20px;
    }

    .container2 .formulario-content #formulario input {
        width: 100%;
    }

    .container2 .formulario-content #formulario textarea {
        width: 100%;
    }

    .container-content .container-tittle h2 {
        font-size: 24px;
    }

    .deg-container .ejeZcontainer .container-content {
        width: 80%;
    }

    .container2 {
        height: 160vh;
    }
}